@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.heroContainer {
  background: linear-gradient(135deg, #01031a, #090101);
  color: white;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  animation: slideInTop 1s ease-out;
}

.navbar li {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background 0.3s;
}

.navbar li:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Hero Section */
.heroTitle {
  font-size: 4rem;
  font-weight: bold;
  margin: 20px 0;
  animation: fadeIn 1.5s ease-in-out;
}

.highlight {
  color: #d1a8ff;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.ctaButton {
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
  animation: slideInBottom 1.2s ease-out;
}

.ctaButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* About Section */
.aboutGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  padding: 20px;
  
  animation: fadeIn 1.5s ease-in-out;
}
/* .aboutGrid , .techStackCard:hover {
  transform: scale(1.05);
} */
.imageCard img {
  border-radius: 15px;
  position: relative;
  top: 1.5rem;
  transition: transform 0.3s ease;
}

.imageCard img:hover {
  transform: scale(1.05);
}

/* Tech Stack */
.techStackCard {
  background: rgba(91, 90, 90, 0.1);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  width: 40%;
  position: relative;
  top: -16rem;
  margin-left: 48%;
  animation: zoomIn 1.2s ease-in-out;
}

.techGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.techHeading {
  /* font-size: 24px; */
  /* font-weight: bold; */
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.techGrid span {
  background: rgba(89, 89, 89, 0.2);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.aboutContent {
 position: relative;
  top: -6rem;
  width: 90%;
  margin-left: -10%;
  /* text-align: left; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

/* Animations */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideInTop {
  0% { opacity: 0; transform: translateY(-50px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideInBottom {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes zoomIn {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
